
@import url('https://fonts.googleapis.com/css2?family=Palanquin:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen+Mono&family=Roboto:wght@100&display=swap');

html, body {
    margin: 0px;
    padding: 0px;
    background-color: #2a2a2c;

    display: flex;
    flex-flow: column;
    height: 100%;
}

.allcontent {
    margin: 0px;
    padding: 16px;
    height: 100%;
}

/*Navbar Stuff*/

.navbar {
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d1cfcb;
}

.navbar-logoandtitle {
    size: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 8px 8px 8px 0px;
}

.navlogo {
    size: 64px 64px;
}

.navtitle {
    margin: 0px;
    font-family: 'Palanquin', sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: #38373a;
    font-size: 64px;
    line-height: 64px;
    margin-top: -7px;
    overflow: hidden;
    text-size-adjust: none;
}

.navbar-pagelinks {
    margin: 0px;
    display: flex;
}

.navbar-pagelinks ul {
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
}

.navbar-pagelinks li {
    margin: 0px;
    list-style: none;
    align-items: center;
}

.navbar-pagelinks a {
    font-family: 'Palanquin', sans-serif;
    font-weight: 500;
    font-size: 25px;
    color: #38373a;
    text-decoration: none;
    line-height: 80px;
    padding: 0px 32px 0px 32px;
    display: inline-block;
    text-align: center;
    cursor: default;
}

.navbar-pagelinks a:link:not(.selectedpage) {
    background-color: transparent;
}

.navbar-pagelinks a:hover:not(.selectedpage) {
    background-color: #bfbdba;
}

.selectedpage {
    background-color: #adaca8;
}

/*Main Content*/

.maindiv {
    height: calc(100% - 80px - 16px * 3);

    margin: 0px;
    margin-top: 16px;
    padding: 16px 32px 16px 32px;
    background-color: #38373a;
}

.maindiv h2 {
    margin: 0px;
    padding: 0px;

    font-family: 'Palanquin', sans-serif;
    font-weight: 500;
    text-decoration: none;
    color: #d1cfcb;
    font-size: 45px;
    text-decoration: none;
}

.maindiv p {
    margin: 0px;
    padding: 0px;

    font-family: 'Palanquin', sans-serif;
    font-weight: 400;
    text-decoration: none;
    color: #d1cfcb;
    font-size: 24px;
    text-decoration: none;
}

.maindiv code {
    margin: 0px;
    padding: 16px;
    display: inline-block;
    background-color: #3f3e41;

    font-family: 'Oxygen Mono', monospace;
    font-weight: 100;
    text-decoration: none;
    color: #d1cfcb;
    font-size: 24px;
    text-decoration: none;
}