
@import url('https://fonts.googleapis.com/css2?family=Palanquin:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen+Mono&family=Roboto:wght@100&display=swap');

* {
    padding: 0px;
    margin: 0px;
}

html, body {
    margin: 0px;
    padding: 0px;
    background-color: #2a2a2c;

    min-height: 100%;
}

body {
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 32px;
    overflow: scroll;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #313033;
    border-radius: 0px;
    border: 10px transparent solid;
    background-clip: padding-box;
}

.allcontent {
    margin: 0px;
    padding: 32px;
    padding-right: 0px;
    height: 100%;
}

/*Navbar Stuff*/

.navbar {
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d1cfcb;
}

.navbar-logoandtitle {
    size: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 8px 8px 8px 0px;
}

.navlogo {
    size: 64px 64px;
}

.navtitle {
    margin: 0px;
    font-family: 'Palanquin', sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: #3f3e41;
    font-size: 64px;
    line-height: 64px;
    margin-top: -7px;
    overflow: hidden;
    text-size-adjust: none;
}

.navbar-pagelinks {
    margin: 0px;
    display: flex;
}

.navbar-pagelinks ul {
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
}

.navbar-pagelinks li {
    margin: 0px;
    list-style: none;
    align-items: center;
}

.navbar-pagelinks a {
    font-family: 'Palanquin', sans-serif;
    font-weight: 500;
    font-size: 25px;
    color: #38373a;
    text-decoration: none;
    line-height: 80px;
    padding: 0px 32px 0px 32px;
    display: inline-block;
    text-align: center;
    cursor: default;
}

.navbar-pagelinks a:link:not(.selectedpage) {
    background-color: transparent;
}

.navbar-pagelinks a:hover:not(.selectedpage) {
    background-color: #bfbdba;
}

.selectedpage {
    background-color: #adaca8;
}

/*Main Content*/

.maindiv {
    flex: 1 0 auto;
    min-height: calc(100% - 130px);

    margin: 0px;
    margin-top: 16px;
    padding: 32px;
    background-color: #313033;
}

.maindiv .centered {
    text-align: center;
}

.maindiv h2 {
    margin: 0px;
    padding: 0px;

    line-height: 45px;
    overflow: visible;
    margin-bottom: 16px;

    font-family: 'Palanquin', sans-serif;
    font-weight: 500;
    text-decoration: none;
    color: #d1cfcb;
    font-size: 45px;
    text-decoration: none;
}

.maindiv p {
    margin: 0px;
    padding: 0px;

    font-family: 'Palanquin', sans-serif;
    font-weight: 400;
    text-decoration: none;
    color: #d1cfcb;
    font-size: 24px;
    text-decoration: none;
}

.maindiv code {
    margin: 0px;
    padding: 16px;
    display: inline-block;
    background-color: #3f3e41;

    font-family: 'Oxygen Mono', monospace;
    font-weight: 100;
    text-decoration: none;
    color: #d1cfcb;
    font-size: 24px;
    text-decoration: none;
}

.maindiv h3 {
    margin: 0px;
    padding: 0px;

    line-height: 128px;
    overflow: hidden;
    margin-bottom: 16px;

    font-family: 'Palanquin', sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: #d1cfcb;
    font-size: 128px;
    text-decoration: none;
}

.maindiv .mainpagelogo {
    display: block;
    padding: 0px;
    margin-left: calc(50% - 256px/2 + 64px);
    margin-right: calc(50% - 256px/2 + 64px);
    margin-top: 16px;
    margin-bottom: 0px;
    background-color: transparent;
    object-fit: contain;
}

.maindiv .mainpagelogo img {
    margin: 16px -64px 16px -64px;
}

textarea {
    tab-size: 4ch;
    white-space: pre-wrap;
    overflow-y: scroll;
}

textarea::-webkit-scrollbar {
    width: 24px;
    background-color: transparent;
    cursor:pointer;
}

textarea::-webkit-scrollbar-thumb {
    background-color: #313033;
    border-radius: 0px;
    border: 8px transparent solid;
    background-clip: padding-box;
}

textarea::-webkit-scrollbar-corner {
    background-color: transparent;
}

textarea::-webkit-resizer {
    width: 24px;
    background-color: transparent;
    outline: 6px #313033 solid;
    outline-offset: -12px;
    overflow: hidden;
}

.maindiv .codetextarea {
    display: flex;
    min-height: 42px;
    min-width: 53px;
    width: 867px;
    height: 512px;
    margin-bottom: 8px;

    background-color: #3f3e41;
    outline: none;
    border: none;
    padding: 8px;

    font-family: 'Oxygen Mono', monospace;
    font-weight: 100;
    text-decoration: none;
    color: #d1cfcb;
    font-size: 16px;
    text-decoration: none;
}

.maindiv .codetextarea:hover, .codetextarea:focus {
    background-color: #454447;
}

.maindiv .run {
    display: flex;
    flex-direction: row;
}

.maindiv .run button {
    display: inline;
    padding: 4px 16px 4px 16px;
    margin-right: 8px;

    border: none;
    outline: none;
    background-color: #3f3e41;

    font-family: 'Palanquin', sans-serif;
    font-weight: 400;
    text-decoration: none;
    color: #d1cfcb;
    font-size: 24px;
}

.maindiv .run button:hover {
    background-color: #454447;
}

.maindiv .run button:active {
    background-color: #4a494d;
}

.maindiv .run textarea {
    display: inline;
    width: 785px;
    min-height: 42px;
    min-width: 53px;
    height: 42px;

    background-color: #3f3e41;
    outline: none;
    border: none;
    padding: 8px;

    font-family: 'Oxygen Mono', monospace;
    font-weight: 100;
    text-decoration: none;
    color: #d1cfcb;
    font-size: 16px;
    text-decoration: none;
}

.maindiv .run textarea:hover {
    background-color: #454447;
}